<div class="logo">
<img src="{{@blog.logo}}"/>
</div>
<h5>{{@blog.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/mbejda" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://twitter.com/notmilobejda" target="_blank">
            <i class="el el-twitter"></i> @notmilobejda
        </a>
    </li>
        <li>
        <a href="skype:mbejda2?add" target="_blank">
            <i class="el el-skype"></i> mbejda2
        </a>

    </li>
</ul>
