{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="blog-description col-md-12 visible-sm visible-xs">
  <h1>{{@blog.description}}</h1>
</div>
{{! The main content area on the homepage }}
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}

