{{!< default}}

{{#contentFor "initHighlight"}}
    <script>hljs.initHighlightingOnLoad();</script>
{{/contentFor}}



<main class="container" role="main">

    <article class="{{post_class}}">
    {{#post}}

        <h1 class="title">{{title}}</h1>

        <section>
            {{content}}
        </section>

    {{/post}}
    </article>

</main>
